.table-breakdown{

    color: whitesmoke;

    cursor: pointer;
    
}

.table-cell{

    color: whitesmoke;

    cursor: pointer;
    
}

td{

    color: whitesmoke;

}

.fa-check-square{

    color: green;

}
